# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# CoreEngineStudio patch/backups
backup-CES-BUILD-*/
_backup_*/
README_CES_BUILD_*.md
COPY_CHANGED_FILES_CES_*.bat
CES_BUILD_*_PATCH*/
